@use '../variables' as *;

* {
    scroll-behavior: smooth;
    color: $fourthColor;
}

body {
    margin: 0;
    font-family: 'Kdam Thmor Pro', sans-serif !important;
  }
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
    text-decoration: none;
}

.smallImage {
    &Relative {
        max-height: 200px;
    }
}

.active {
    color: red;
}

.navbar {
    &MainContainer {
        background-color: $secondColor;

        & > a {
            padding: 10px;
        }
    }
}

.errorPage {
    &MainContainer {
        background-color: $firstColor;

        & > div {
          background-color: $secondColor; 
          font-size: 25px;
          color: $fourthColor;
        }
    }
}