@media all and (max-width: 996px) {
    .containerResponsive {
        flex-direction: column;
    }

    .firstGroupResponsive {
        margin-bottom: 10px;
        justify-content: start;
    }
}

