
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
/* Track */
::-webkit-scrollbar-track {
    background: #E2EAFC;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ff7070;
    opacity: 0.75;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ff7070;
    opacity: 1;
}